//Colors
$light-grey: #f8f9fb;
$blue-grey: #476f7b;
$midnight-blue: #043565;
$purple: #5158bb;
$pink: #f26df9;
$pigglet-pink: #eb4b98;

//Font Sizes
$big-size: 42px;
$medium-size: 24px;
$small-size: 12px;
